@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

.scrollable-box {
  height: 600px; /* Fixed height of 300 pixels */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 3px solid #34D399;
  border-radius: 2.5%;
}

input[type="file"] {
  background-color: white; /* Set background color to white */
  color: black; /* Set text color to black */
  /* Add any other styling you need */
}