<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TADHack Interface</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="sidebar-icon">
          <a href="/home">
            <img
              src="../static/images/home.svg"
              alt="Icon 1"
              class="sidebar-img"
            />
          </a>
        </div>

        <div class="sidebar-icon">
          <a href="/analyze">
            <img
              src="../static/images/analyze.svg"
              alt="Icon 2"
              class="sidebar-img"
            />
          </a>
        </div>
        <div class="sidebar-icon">
          <img
            src="../static/images/settings.svg"
            alt="Icon 3"
            class="sidebar-img"
          />
        </div>
        <div class="sidebar-icon">
          <img
            src="../static/images/team.svg"
            alt="Icon 4"
            class="sidebar-img"
          />
        </div>
      </div>

      <div class="main-content">
        <div class="title-1">
          <div class="original-title">
            <h1>original</h1>
          </div>
          <div class="redacted-title">
            <h1>Transformed</h1>
          </div>
        </div>
        <div class="comparison-container">
          <div class="box original"></div>
          <div class="box transformed">Transformed</div>
        </div>
      </div>
    </div>
  </body>
</html>
