<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TADHack Interface</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="sidebar-icon">
          <a href="/home">
            <img
              src="../static/images/home.svg"
              alt="Icon 1"
              class="sidebar-img"
            />
          </a>
        </div>

        <div class="sidebar-icon">
          <a href="/analyze">
            <img
              src="../static/images/analyze.svg"
              alt="Icon 2"
              class="sidebar-img"
            />
          </a>
        </div>
        <div class="sidebar-icon">
          <a href="/settings">
            <img
              src="../static/images/settings.svg"
              alt="Icon 3"
              class="sidebar-img"
            />
          </a>
        </div>
        <div class="sidebar-icon">
          <a href="/team">
            <img
              src="../static/images/team.svg"
              alt="Icon 4"
              class="sidebar-img"
            />
          </a>
        </div>
      </div>
      <div class="main-content">
        <!-- Replace # with your logo path -->
      </div>
    </div>
  </body>
</html>
